body {
  padding: 1rem;
}
.btn {
  min-width: 100px;
  height: 40px;
  cursor: pointer;
  text-transform: uppercase;
}
.canv {
  margin: 0 auto;
}

.wrap {
  display: flex;
  justify-content: space-around;
}
.operation-menu {
  
}
